<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  <body>
    <%- include('header'); %>
    <%- include('sign_up'); %>
    <div class="container">
      <div class="container-header">
        <h1>編集</h1>
        <a href="/index" class="cancel-button">キャンセル</a>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">修正内容</p>
        <form action="/update/<%= item.id %>" method="post">
          <input type="text" name="itemName" value="<%= item.name %>">
          <input type="submit" value="更新する">
        </form>
      </div>
    </div>
  </body>
</html>